<div class='row'>
  <div class="col-lg-3 ">
    <%= render partial: 'rivers/river_sidebar'%>
  </div>
  <div class="col-md-9 order-lg-1">
    <div class="card">
      <div class="card-header">
        <div class="scrolling-wrapper">
          <span class="avatar avatar-blue ">NG</span>
          <span class="avatar avatar-azure narrow-spacing">ک م</span>
          <span class="avatar avatar-indigo">RB</span>
          <span class="avatar avatar-purple">PR</span>
          <span class="avatar avatar-pink">WH</span>
          <span class="avatar avatar-red">MR</span>
          <span class="avatar avatar-orange">DB</span>
          <span class="avatar avatar-yellow">PP</span>
          <span class="avatar avatar-lime">JR</span>
          <span class="avatar avatar-green">RB</span>
          <span class="avatar avatar-teal">KH</span>
          <span class="avatar avatar-cyan">BK</span>
          <span class="avatar avatar-gray">CA</span>
          <span class="avatar avatar-gray-dark">+</span>
        </div>
      </div>
      <div class="card-body">
      </div>
    </div>
  </div>
</div>
